<main>
<section class="bg-gray-50 min-h-screen flex items-center justify-center">
    {{!-- {{! login container }} --}}
    <div class="bg-gray-100 flex rounded-2xl shadow-lg max-w-5xl p-5 items-center">
      {{! form }}
      <div class="md:w-1/2 px-16">
      <h2 class="font-bold text-2xl text-green-500">Reset Password</h2>
      <p class="text-sm mt-4 text-blue-950">Please enter previous loggedIn email</p>
      {{#if errorMessage}}
            <h5 class="text-red-600 font-semibold" id="error-message">{{errorMessage}}</h5>
      {{/if}}
        <h5 class="text-red-600 font-semibold" id="errorMessage"></h5>
      <form action="/reset" 
        method="POST"
        class="flex flex-col gap-4 mt-4">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div id="email-field"  class="flex flex-col gap-2">
              <label for="email" class="font-semibold text-xs">Email</label>
             <div class="relative">
              <input  class="p-2 mt-1 rounded-xl w-full  border focus:outline-none focus:ring focus:border-blue-500" type="email" 
                name="email" id="email"
                placeholder="Email" oninput="validateEmail()">
                <p id="email-error" class="hidden text-red-500 text-xs mt-1">Please enter a valid email address</p>
                <img src="/images/img/checked.png" alt="" width="16" height="16" class="absolute  top-2 right-2 hidden" id="checked">
                </div>
        </div>
        <button class="bg-blue-950 rounded-xl text-white py-2 hover:scale-105 duration-300 hover:bg-green-400 hover:font-semibold" type="submit">Reset Password</button>
      </form>
        <div class="mt-2 text-xs border-b border-gray-400 py-4 text-right">
          <a href="/login">Already have an account?</a>
          </div>
          <div class="text-xs flex justify-between 
          items-center mt-3">
            <p>Don't have an account?</p>
            <a href="/signup" class="py-2 px-5 bg-white border rounded-xl  hover:scale-110 duration-300 hover:border-green-500 focus:bg-green-200 focus:outline-none">Register</a>
          </div>
      </div>
      {{! image }}
      <div class=" md:block w-1/2 hidden">
        <img class=" rounded-lg" src="\images\img\login2.jpg" alt="login" />
      </div>
    </div>
</section>

<script src="/javascripts/signup.js"></script>
</main>
