<!-- Page Aside-->
<aside class="aside bg-white">

  <div class="simplebar-wrapper">
    <div data-pixr-simplebar>
      <div class="pb-6">
        <!-- Mobile Logo-->
        <div
          class="d-flex d-xl-none justify-content-between align-items-center border-bottom aside-header"
        >
          <a
            class="navbar-brand lh-1 border-0 m-0 d-flex align-items-center"
            href="./index.html"
          >
            <div class="d-flex align-items-center">
              <svg
                class="f-w-5 me-2 text-primary d-flex align-self-center lh-1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 203.58 182"
              ><path
                  d="M101.66,41.34C94.54,58.53,88.89,72.13,84,83.78A21.2,21.2,0,0,1,69.76,96.41,94.86,94.86,0,0,0,26.61,122.3L81.12,0h41.6l55.07,123.15c-12-12.59-26.38-21.88-44.25-26.81a21.22,21.22,0,0,1-14.35-12.69c-4.71-11.35-10.3-24.86-17.53-42.31Z"
                  fill="currentColor"
                  fill-rule="evenodd"
                  fill-opacity="0.5"
                /><path
                  d="M0,182H29.76a21.3,21.3,0,0,0,18.56-10.33,63.27,63.27,0,0,1,106.94,0A21.3,21.3,0,0,0,173.82,182h29.76c-22.66-50.84-49.5-80.34-101.79-80.34S22.66,131.16,0,182Z"
                  fill="currentColor"
                  fill-rule="evenodd"
                /></svg>
              <span
                class="fw-black text-uppercase tracking-wide fs-6 lh-1"
              >Admin</span>
            </div>
          </a>
          <i
            class="ri-close-circle-line ri-lg close-menu text-muted transition-all text-primary-hover me-4 cursor-pointer"
          ></i>
        </div>
        <!-- / Mobile Logo-->

        <ul class="list-unstyled mb-6">

          <!-- Dashboard Menu Section-->
          <li class="menu-section mt-2">Menu</li>
          <li class="menu-item"><a
              class="d-flex align-items-center"
              href="/admin"
            >
              <span class="menu-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="w-100"
                >
                  <rect
                    fill-opacity=".5"
                    fill="currentColor"
                    x="3"
                    y="3"
                    width="7"
                    height="7"
                  ></rect>
                  <rect
                    fill="currentColor"
                    x="14"
                    y="3"
                    width="7"
                    height="7"
                  ></rect>
                  <rect
                    fill-opacity=".5"
                    fill="currentColor"
                    x="14"
                    y="14"
                    width="7"
                    height="7"
                  >
                  </rect>
                  <rect
                    fill="currentColor"
                    x="3"
                    y="14"
                    width="7"
                    height="7"
                  ></rect>
                </svg>
              </span>
              <span class="menu-link">
                Dashboard
                <!-- <span class="badge bg-success-faded text-success pb-1 ms-2 align-middle rounded-pill">beta</span> -->
              </span></a></li>
          <!-- / Dashboard Menu Section-->

          <!-- Dashboard Menu Section-->
          <!-- <li class="menu-section mt-4">Data</li>
                        <li class="menu-item"><a class="d-flex align-items-center" href="./charts.html">
                                <span class="menu-icon">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 489.902 489.902" style="enable-background:new 0 0 489.902 489.902;">
                                       <path fill="currentColor" opacity="0.5" d="M349.2,178.251l113.6-45.9c-37.7-72.7-110.1-124-195.6-131.8v122.5C301.8,129.651,330.9,149.851,349.2,178.251z"/>
                                       <path fill="currentColor" opacity="0.75" d="M121.3,244.751c0-60.7,43.6-110.8,101.1-121.3V0.551C98,11.851,0,116.851,0,244.751c0,54.8,17.9,105.4,48.2,146.2
                                           l91.4-81.7C128.3,290.251,121.3,268.051,121.3,244.751z"/>
                                       <path fill="currentColor" d="M479.5,173.551l-113.6,45.9c1.6,8.2,2.7,16.3,2.7,24.9c0,68.1-55.2,123.7-123.7,123.7c-28.4,0-54.8-9.7-75.4-26.1
                                           l-91.4,81.7c43.9,40.8,102.3,65.7,166.8,65.7c135.3,0,245-109.7,245-245C490,219.851,486.1,196.151,479.5,173.551z"/>
                               
                               </svg>
                                </span>
                                <span class="menu-link">
                                    Charts
                                    <span class="badge bg-danger-faded text-danger pb-1 ms-2 align-middle rounded-pill">new</span>
                                </span></a></li> -->
          <!-- / Dashboard Menu Section-->

          <!-- Pages Menu Section-->
          {{!-- <li class="menu-section mt-4">Pages</li>
          <li class="menu-item"><a
              class="d-flex align-items-center collapsed"
              href="#"
              data-bs-toggle="collapse"
              data-bs-target="#collapseMenuItemPages"
              aria-expanded="false"
              aria-controls="collapseMenuItemPages"
            >
              <span class="menu-icon">
                <svg
                  enable-background="new 0 0 520 520"
                  viewBox="0 0 520 520"
                  xmlns="http://www.w3.org/2000/svg"
                ><g><path
                      fill="currentColor"
                      d="m481.734 100.063h-158.331l-43.111-70.397c-2.727-4.452-7.571-7.166-12.792-7.166h-119.235c-21.099 0-38.265 17.166-38.265 38.266v65.51 229.184c0 21.1 17.166 38.266 38.265 38.266h261.735 71.734c21.1 0 38.266-17.166 38.266-38.266v-217.13c0-21.101-17.166-38.267-38.266-38.267z"
                    /><path
                      fill="currentColor"
                      opacity=".5"
                      d="m80 355.459v-229.184h-41.734c-21.1 0-38.266 17.166-38.266 38.266v294.693c0 21.1 17.166 38.266 38.266 38.266h333.469c21.1 0 38.266-17.166 38.266-38.266v-35.51h-261.736c-37.641.001-68.265-30.623-68.265-68.265z"
                    /></g></svg>
              </span>
              <span class="menu-link">Pages</span></a>
            <div class="collapse" id="collapseMenuItemPages">
              <ul class="submenu">
                <li><a href="./charts.html">Charts</a></li>
                <li><a href="./user-listing.html">User Listing</a></li>
                <li><a href="./login.html">Login</a></li>
                <li><a href="./register.html">Register</a></li>
                <li><a href="./forgot-password.html">Forgot Password</a></li>
                <li><a href="./404.html">404 Page</a></li>
                <li><a href="./blank.html">Blank Page</a></li>
              </ul>
            </div>
          </li> --}}
          <!-- / Pages Menu Section-->

          <!-- Pages Menu Section-->
          <li class="menu-section mt-4">User Management</li>
          <li class="menu-item"><a
              class="d-flex align-items-center collapsed"
              href="#"
              data-bs-toggle="collapse"
              data-bs-target="#collapseMenuItemUsers"
              aria-expanded="false"
              aria-controls="collapseMenuItemUsers"
            >
              <span class="menu-icon">
                <span class="material-symbols-outlined">group</span>
              </span>
              <span class="menu-link">Users</span></a>
            <div class="collapse" id="collapseMenuItemUsers">
              <ul class="submenu">
                <li><a href="/admin/users">User Listing</a></li>
              </ul>
            </div>
          </li>
          <!-- / Pages Menu Section-->

                    <!-- Pages Menu Section2-->
          <li class="menu-section mt-4">Product Management</li>
          <li class="menu-item"><a
              class="d-flex align-items-center collapsed"
              href="#"
              data-bs-toggle="collapse"
              data-bs-target="#collapseMenuItemProducts"
              aria-expanded="false"
              aria-controls="collapseMenuItemProducts"
            >
              <span class="menu-icon">
                 <span class="material-symbols-outlined">inventory</span>
              </span>
              <span class="menu-link">Product</span></a>
            <div class="collapse" id="collapseMenuItemProducts">
              <ul class="submenu">
                <li><a href="/admin/products">Product Listing</a></li>
              </ul>
            </div>
          </li>
          <!-- / Pages Menu Section2-->

             <!-- Pages Menu Section3-->
          <li class="menu-section mt-4">Order Management</li>
          <li class="menu-item"><a
              class="d-flex align-items-center collapsed"
              href="#"
              data-bs-toggle="collapse"
              data-bs-target="#collapseMenuItemOrders"
              aria-expanded="false"
              aria-controls="collapseMenuItemOrders"
            >
              <span class="menu-icon">
                <span class="material-symbols-outlined">receipt_long</span>
              </span>
              <span class="menu-link">Orders</span></a>
            <div class="collapse" id="collapseMenuItemOrders">
              <ul class="submenu">
                <li><a href="/admin/orders">Order Listing</a></li>
              </ul>
            </div>
          </li>
          <!-- / Pages Menu Section3-->
            <!-- Pages Menu Section4-->
            <li class="menu-section mt-4">Category Management</li>
          <li class="menu-item"><a
              class="d-flex align-items-center collapsed"
              href="#"
              data-bs-toggle="collapse"
              data-bs-target="#collapseMenuItemCategory"
              aria-expanded="false"
              aria-controls="collapseMenuItemCategory"
            >
              <span class="menu-icon">
                <span class="material-symbols-outlined">category</span>
              </span>
              <span class="menu-link">Category</span></a>
            <div class="collapse" id="collapseMenuItemCategory">
              <ul class="submenu">
                <li><a href="/admin/category">Category Listing</a></li>
              </ul>
            </div>
          </li>
          <!-- / Pages Menu Section4-->

          
             <!-- Pages Menu Section5-->
          <li class="menu-section mt-4">Coupon Management</li>
          <li class="menu-item"><a
              class="d-flex align-items-center collapsed"
              href="#"
              data-bs-toggle="collapse"
              data-bs-target="#collapseMenuItemCoupons"
              aria-expanded="false"
              aria-controls="collapseMenuItemCoupons"
            >
              <span class="menu-icon">
                <span class="material-symbols-outlined">redeem</span>
              </span>
              <span class="menu-link">Coupons</span></a>
            <div class="collapse" id="collapseMenuItemCoupons">
              <ul class="submenu">
                <li><a href="/admin/coupons">Coupon Listing</a></li>
              </ul>
            </div>
          </li>
          <!-- / Pages Menu Section 5-->
        </ul>
      </div>
    </div>
  </div>

</aside>
<!-- / Page Aside-->

