<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Plantso-Indoor||Outdoor||Accessories||Plants</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/favicon_io/site.webmanifest">


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <!--====== Vendor Css ======-->
    <link rel="stylesheet" href="/stylesheets/css/vendor.css">

    <!--====== Utility-Spacing ======-->
    <link rel="stylesheet" href="/stylesheets/css/utility.css">

    <!--====== App ======-->
    <link rel="stylesheet" href="/stylesheets/css/app.color7.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">

  </head>
  <body>
    {{#if user}}
    {{>user-header}}
    {{/if}}
    {{{body}}}

    <!--======JAVASCRIPT FILES ======-->

    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    <!--====== Vendor Js ======-->
    <script src="/javascripts/js/vendor.js"></script>

    <!--====== jQuery Shopnav plugin ======-->
    <script src="/javascripts/js/jquery.shopnav.js"></script>

    <!--====== App ======-->
    <script src="/javascripts/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>

  </body>
</html>
