<html class="no-js">
  <head>
    {{#if pageTitle}}
      <title>{{pageTitle}}||</title>
    {{/if}}
    <title>Plantso-Indoor||Outdoor||Accessories||Plants</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon/favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="/images/favicon/favicon_io/site.webmanifest" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <!--====== Vendor Css ======-->
    <link rel="stylesheet" href="/stylesheets/css/vendor.css" />
    <!--====== Utility-Spacing ======-->
    <link rel="stylesheet" href="/stylesheets/css/utility.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!--====== App ======-->
    <link rel="stylesheet" href="/stylesheets/css/app.css" />
    <link rel="stylesheet" href="/stylesheets/css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  </head>
  <body>
    {{!-- {{#if user}}
         {{>user-header}}
        {{/if}} --}}
    {{{body}}}
    {{#if isAuthenticated}}
      {{#unless is_Admin}}
        <script
          src="//code.tidio.co/6tx9wgxlgrwvhnabhn7aad8ya4yvgqwx.js"
          async
        ></script>
      {{/unless}}
    {{/if}}
    <!--======JAVASCRIPT FILES ======-->
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
    <script
      src="https://www.google-analytics.com/analytics.js"
      async
      defer
    ></script>
    <!--====== Vendor Js ======-->
    <script src="/javascripts/js/vendor.js"></script>
    <!--====== jQuery Shopnav plugin ======-->
    <script src="/javascripts/js/jquery.shopnav.js"></script>
    <!--====== App ======-->
    <script src="/javascripts/js/app.js"></script>
    <script src="/javascripts/deleteModal.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"
    ></script>
  </body>
</html>