<html class="no-js">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    {{#if pageTitle}}
      <title>{{pageTitle}}||</title>
    {{/if}}
    <title>Plantso-Indoor||Outdoor||Accessories||Plants</title>
    {{!-- style cdn --}}
    {{>components/common/cdn/styleCdn}}
  </head>
  <body>
    
<div id="load">
  <section class="loader">
  </section>
</div>
    <div id="content" style="display: none;">
    {{{body}}}
    {{#if isAuthenticated}}
      {{#unless is_Admin}}
        <script
          src="//code.tidio.co/6tx9wgxlgrwvhnabhn7aad8ya4yvgqwx.js"
          async
        ></script>
      {{/unless}}
    {{/if}}
    </div>
    {{>components/common/cdn/scriptCdn}}

      <script>
      setTimeout(()=>{
      document.getElementById('load').hidden = true;
      document.getElementById('content').style.display = '';
    },2000)
  </script>
  </body>
</html>