<!DOCTYPE html>
<html >
  <head>
    <title>Plantso-Indoor||Outdoor||Accessories||Plants</title>
     <link rel="stylesheet" href="/stylesheets/tailwind.css">

  </head>
  <body>
    {{#if user}}
    {{>user-header}}
    {{/if}}
    {{{body}}}
  </body>
</html>
