<div class="pd-breadcrumb u-s-m-b-30">
  <ul class="pd-breadcrumb__list">
    <li class="has-separator">

      <a href="/">Home</a></li>
    <li class="has-separator">

      <a
        href="/shop"
        style="text-transform: capitalize;"
      >{{product.category.name}}</a></li>
    <li class="is-marked">

      <a href="#">{{product.title}}</a></li>
  </ul>
</div>