          <!--====== Section 4 ======-->
        <div class="u-s-p-b-60" data-aos="flip-up" data-aos-duration="3000">
          <!--====== Section Content ======-->
          <div class="section__content">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-6 u-s-m-b-30">
                  <div class="service u-h-100">
                    <div class="service__icon">
                      <img src="/images/img/box-truck_60.png" alt="" width="50" height="50">
                    </div>
                    <div class="service__info-wrap">
                      <span class="service__info-text-1">Free Shipping</span>

                      <span class="service__info-text-2"
                        >Free shipping on all India order or order above Rs.200</span
                      >
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 u-s-m-b-30">
                  <div class="service u-h-100">
                    <div class="service__icon">
                      <img src="/images/img/cash_on_delivery_60x.avif" alt="">
                      </div>
                    <div class="service__info-wrap">
                      <span class="service__info-text-1"
                        >Cash on Delivery</span
                      >

                      <span class="service__info-text-2"
                        >Available across India!</span
                      >
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 u-s-m-b-30">
                  <div class="service u-h-100">
                    <div class="service__icon">
                      <img src="/images/img/support_60x.webp" alt="Support">
                    </div>
                    <div class="service__info-wrap">
                      <span class="service__info-text-1">24/7 Help Center</span>

                      <span class="service__info-text-2"
                        >Friendly & Quick!</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 4 ======-->
