<!--====== Primary Slider ======-->
<div class="s-skeleton s-skeleton--h-600 s-skeleton--bg-grey">
  <div class="owl-carousel primary-style-1" id="hero-slider">
    <div class="hero-slide hero-slide--1">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="slider-content slider-content--animation">
              <span class="content-span-1 u-c-secondary">Plants make life
                better🌱</span>

              <span class="content-span-2 u-c-secondary">30% Off On Accessories</span>

              <span class="content-span-3 u-c-secondary">Find plants on best
                prices, Also Discover most selling products of Plantso🌳</span>

              <span class="content-span-4 u-c-secondary">Starting At

                <span class="u-c-brand">₹100.00</span></span>

              <a class="shop-now-link btn--e-brand" href="/shop">SHOP NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-slide hero-slide--2">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="slider-content slider-content--animation">
              <span class="content-span-1 u-c-white">The world of plants</span>

              <span class="content-span-2" style="color: black;">10% Off On
                indoor Plants</span>

              <span class="content-span-3 u-c-white">Find accessories best
                prices, Also Discover most selling products of Plantso🌳</span>

              <span class="content-span-4 u-c-white">Starting At

                <span class="u-c-brand">₹380.00</span></span>

              <a class="shop-now-link btn--e-brand" href="/shop">SHOP NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-slide hero-slide--3">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="slider-content slider-content--animation">
              <span class="content-span-1 u-c-white">The Best Plant Under One
                Roof</span>
              <span class="content-span-2 u-c-white">The Best Plant Under
                <br />
                One Roof</span>

              <span class="content-span-3 u-c-white">Find indoor plants on best
                prices, Also Discover most selling products of Plantso🪴</span>

              <span class="content-span-4 u-c-white">Starting At

                <span class="u-c-brand">₹100.00</span></span>

              <a class="shop-now-link btn--e-brand" href="/shop">SHOP NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--====== End - Primary Slider ======-->