
    /*======================
    404 page
=======================*/

/* 
.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
       font-size:80px;
       }
       
       .link_404{      
  color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
  .contant_box_404{ margin-top:-50px;} */



  /*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/722246/screenshots/3066818/404-page.gif);
    height: 650px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
.four_zero_four_bg h3
{
	font-size:80px;
}
.link_404
{
  border-radius: 20px;			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}
.link_404:hover
{
    background: #2a8c23;
    box-shadow: 1px 2px 3px;
}
.contant_box_404{ 
    margin-top:-50px;
  }

  .alert_modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999999999999999999;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Calibri;
    font-weight: 900;
  }

  .alert_container {
    width: 90%;
    background-color: white;
    border-radius: 10px;
    animation: 0.5s 1 alert_container_animation;
    -webkit-animation: 35s 1 alert_container_animation;
  }

  @media (min-width: 600px) {
    .alert_container {
      width: 350px;
    }
  }

  @keyframes alert_container_animation {
    0% {
      transform: scale(0.5);
    }

    1% {
      transform: scale(1.1);
    }

    2% {
      transform: scale(1);
    }
  }

  @-webkit-keyframes alert_container_animation {
    0% {
      transform: scale(0.5);
    }

    1% {
      transform: scale(1.1);
    }

    2% {
      transform: scale(1);
    }
  }

  .alert_heading {
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
  }

  .alert_details {
    padding: 15px;
    text-align: center;
  }

  .alert_details h2 {
    font-size: 20px;
  }

  .alert_details p {
    font-size: 14px;
    color: #525252;
    line-height: 1.5em;
    margin-top: 5px;
  }

  .alert_footer {
    background-color: #E3E3E3;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .alert_footer span {
    color: #979797;
    cursor: pointer;
  }

  .alert_footer span:hover {
    color: #353535;
  }
