    <!--====== Nav 1 ======-->
    <nav class="primary-nav primary-nav-wrapper--border">
        <div class="container">

            <!--====== Primary Nav ======-->
            <div class="primary-nav">

                <!--====== Main Logo ======-->

                <a class="main-logo" href="index.html">

                    <img src="images/logo/logo-1.png" alt=""></a>
                <!--====== End - Main Logo ======-->


                <!--====== Search Form ======-->
                <form class="main-form">

                    <label for="main-search"></label>

                    <input class="input-text input-text--border-radius input-text--style-1" type="text" id="main-search" placeholder="Search">

                    <button class="btn btn--icon fas fa-search main-search-button" type="submit"></button></form>
                <!--====== End - Search Form ======-->


                <!--====== Dropdown Main plugin ======-->
                <div class="menu-init" id="navigation">

                    <button class="btn btn--icon toggle-button toggle-button--secondary fas fa-cogs" type="button"></button>

                    <!--====== Menu ======-->
                    <div class="ah-lg-mode">

                        <span class="ah-close">✕ Close</span>

                        <!--====== List ======-->
                        <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">
                            <li class="has-dropdown" data-tooltip="tooltip" data-placement="left" title="Account">

                                <a><i class="far fa-user-circle"></i></a>

                                <!--====== Dropdown ======-->

                                <span class="js-menu-toggle"></span>
                                <ul style="width:120px">
                                    {{#if isAuthenticated}}
                                    {{#if loggedUser}}
                                    <li>
                                        <a href="/account"><i class="fas fa-user-circle u-s-m-r-6"></i>
                                            <span>{{loggedUser.name}}</span></a>
                                    </li>
                                    {{/if}}
                                    {{!-- <li>
                                        <a href="dashboard.html"><i class="fas fa-user-circle u-s-m-r-6"></i>

                                            <span>Account</span></a>
                                    </li> --}}
                                     <li>
                                        <a href="#"  onclick="event.preventDefault();logout()">
                                        <i class="fas fa-user-plus u-s-m-r-6"></i>
                                            <span>Logout</span>
                                            </a>
                                        <form id="logoutForm" action="/logout" method="POST" style="display: none;">
                                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                        </form>
                                    </li>
                                    {{else}}
                                    <li>
                                        <a href="/signup"><i class="fas fa-user-plus u-s-m-r-6"></i>

                                            <span>Signup</span></a>
                                            </li>
                                    <li>
                                        <a href="/login"><i class="fas fa-lock u-s-m-r-6"></i>

                                            <span>Login</span></a>
                                            </li>
                                            {{/if}}
                                </ul>
                                <!--====== End - Dropdown ======-->
                            </li>
                            <li data-tooltip="tooltip" data-placement="left" title="Contact">

                                <a href="tel:+0900901904"><i class="fas fa-phone-volume"></i></a></li>
                            <li data-tooltip="tooltip" data-placement="left" title="Mail">

                                <a href="PlantsoMailer@gmail.com"><i class="far fa-envelope"></i></a></li>
                        </ul>
                        <!--====== End - List ======-->
                    </div>
                    <!--====== End - Menu ======-->
                </div>
                <!--====== End - Dropdown Main plugin ======-->
            </div>
            <!--====== End - Primary Nav ======-->
        </div>
    </nav>
    <!--====== End - Nav 1 ======-->