<main>
  <!--====== Section 1 ======-->
  <div class="u-s-p-y-90">
    <div class="container">
      <div class="row">
       {{>components/shop_list/aside/aside_fiter}}
       {{>components/shop_list/section/product_list}}
      </div>
    </div>
  </div>
  {{>components/common/footer}}
  {{>components/common/cartModal}}
  <!--====== End - Section 1 ======-->

  <!--====== Quick Look Modal ======-->
  <div class="modal fade" id="quick-look">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal--shadow">

        <button
          class="btn dismiss-button fas fa-times"
          type="button"
          data-dismiss="modal"
        ></button>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-5">

              <!--====== Product Breadcrumb ======-->
              <div class="pd-breadcrumb u-s-m-b-30">
                <ul class="pd-breadcrumb__list">
                  <li class="has-separator">

                    <a href="index.hml">Home</a></li>
                  <li class="has-separator">

                    <a href="shop-side-version-2.html">Electronics</a></li>
                  <li class="has-separator">

                    <a href="shop-side-version-2.html">DSLR Cameras</a></li>
                  <li class="is-marked">

                    <a href="shop-side-version-2.html">Nikon Cameras</a></li>
                </ul>
              </div>
              <!--====== End - Product Breadcrumb ======-->

              <!--====== Product Detail ======-->
              <div class="pd u-s-m-b-30">
                <div class="pd-wrap">
                  <div id="js-product-detail-modal">
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-1.jpg" --}}
                        alt=""
                      /></div>
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-2.jpg" --}}
                        alt=""
                      /></div>
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-3.jpg" --}}
                        alt=""
                      /></div>
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-4.jpg" --}}
                        alt=""
                      /></div>
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-5.jpg" --}}
                        alt=""
                      /></div>
                  </div>
                </div>
                <div class="u-s-m-t-15">
                  <div id="js-product-detail-modal-thumbnail">
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-1.jpg" --}}
                        alt=""
                      /></div>
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-2.jpg" --}}
                        alt=""
                      /></div>
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-3.jpg" --}}
                        alt=""
                      /></div>
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-4.jpg" --}}
                        alt=""
                      /></div>
                    <div>

                      <img
                        class="u-img-fluid"
                        {{!-- src="images/product/product-d-5.jpg" --}}
                        alt=""
                      /></div>
                  </div>
                </div>
              </div>
              <!--====== End - Product Detail ======-->
            </div>
            <div class="col-lg-7">

              <!--====== Product Right Side Details ======-->
              <div class="pd-detail">
                <div>

                  <span class="pd-detail__name">Nikon Camera 4k Lens Zoom Pro</span></div>
                <div>
                  <div class="pd-detail__inline">

                    <span class="pd-detail__price">$6.99</span>

                    <span class="pd-detail__discount">(76% OFF)</span><del
                      class="pd-detail__del"
                    >$28.97</del></div>
                </div>
                <div class="u-s-m-b-15">
                  <div class="pd-detail__rating gl-rating-style"><i
                      class="fas fa-star"
                    ></i><i class="fas fa-star"></i><i
                      class="fas fa-star"
                    ></i><i class="fas fa-star"></i><i
                      class="fas fa-star-half-alt"
                    ></i>

                    <span class="pd-detail__review u-s-m-l-4">

                      <a href="product-detail.html">23 Reviews</a></span></div>
                </div>
                <div class="u-s-m-b-15">
                  <div class="pd-detail__inline">

                    <span class="pd-detail__stock">200 in stock</span>

                    <span class="pd-detail__left">Only 2 left</span></div>
                </div>
                <div class="u-s-m-b-15">

                  <span class="pd-detail__preview-desc">Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since
                    the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book.</span></div>
                <div class="u-s-m-b-15">
                  <div class="pd-detail__inline">

                    <span class="pd-detail__click-wrap"><i
                        class="far fa-heart u-s-m-r-6"
                      ></i>

                      <a href="signin.html">Add to Wishlist</a>

                      <span
                        class="pd-detail__click-count"
                      >(222)</span></span></div>
                </div>
                <div class="u-s-m-b-15">
                  <div class="pd-detail__inline">

                    <span class="pd-detail__click-wrap"><i
                        class="far fa-envelope u-s-m-r-6"
                      ></i>

                      <a href="signin.html">Email me When the price drops</a>

                      <span
                        class="pd-detail__click-count"
                      >(20)</span></span></div>
                </div>
                <div class="u-s-m-b-15">
                  <ul class="pd-social-list">
                    <li>

                      <a class="s-fb--color-hover" href="#"><i
                          class="fab fa-facebook-f"
                        ></i></a></li>
                    <li>

                      <a class="s-tw--color-hover" href="#"><i
                          class="fab fa-twitter"
                        ></i></a></li>
                    <li>

                      <a class="s-insta--color-hover" href="#"><i
                          class="fab fa-instagram"
                        ></i></a></li>
                    <li>

                      <a class="s-wa--color-hover" href="#"><i
                          class="fab fa-whatsapp"
                        ></i></a></li>
                    <li>

                      <a class="s-gplus--color-hover" href="#"><i
                          class="fab fa-google-plus-g"
                        ></i></a></li>
                  </ul>
                </div>
                <div class="u-s-m-b-15">
                  <form class="pd-detail__form">
                    <div class="pd-detail-inline-2">
                      <div class="u-s-m-b-15">

                        <!--====== Input Counter ======-->
                        <div class="input-counter">

                          <span
                            class="input-counter__minus fas fa-minus"
                          ></span>

                          <input
                            class="input-counter__text input-counter--text-primary-style"
                            type="text"
                            value="1"
                            data-min="1"
                            data-max="1000"
                          />

                          <span
                            class="input-counter__plus fas fa-plus"
                          ></span></div>
                        <!--====== End - Input Counter ======-->
                      </div>
                      <div class="u-s-m-b-15">

                        <button class="btn btn--e-brand-b-2" type="submit">Add
                          to Cart</button></div>
                    </div>
                  </form>
                </div>
                <div class="u-s-m-b-15">

                  <span class="pd-detail__label u-s-m-b-8">Product Policy:</span>
                  <ul class="pd-detail__policy-list">
                    <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                      <span>Buyer Protection.</span></li>
                    <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                      <span>Full Refund if you don't receive your order.</span></li>
                    <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                      <span>Returns accepted if product not as described.</span></li>
                  </ul>
                </div>
              </div>
              <!--====== End - Product Right Side Details ======-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--====== End - Quick Look Modal ======-->

</main>
{{!-- function to update the ui --}}
<script>
  function updateUI(products){
    var rowDiv = document.querySelector('.row.is-grid-active');

  // Clear the existing products inside the row div
  rowDiv.innerHTML = '';

  // Loop through the products array and create HTML elements for each product
  products.forEach(function(product) {
    var colDiv = document.createElement('div');
    colDiv.classList.add('col-lg-4', 'col-md-6', 'col-sm-6');
    colDiv.id = 'product-list';

    var productDiv = document.createElement('div');
    productDiv.classList.add('product-m');
    productDiv.id = 'product' + product._id;

    var thumbDiv = document.createElement('div');
    thumbDiv.classList.add('product-m__thumb');

    var anchorTag = document.createElement('a');
    anchorTag.classList.add('aspect', 'aspect--bg-grey', 'aspect--square', 'u-d-block');
    anchorTag.href = '/products/' + product._id;

    var imageTag = document.createElement('img');
    imageTag.classList.add('aspect__img');
    imageTag.src = product.imageUrl[0];
    imageTag.alt = '';
    imageTag.id = 'productImage' + product._id;

    anchorTag.appendChild(imageTag);
    thumbDiv.appendChild(anchorTag);

    var addToCartDiv = document.createElement('div');
    addToCartDiv.classList.add('product-m__add-cart');

    var addToCartAnchor = document.createElement('a');
    addToCartAnchor.classList.add('btn--e-brand');
    addToCartAnchor.setAttribute('onclick', "addToCart('" + product._id + "')");
    addToCartAnchor.setAttribute('data-modal', 'modal');
    addToCartAnchor.setAttribute('data-target', '#add-to-cart');
    addToCartAnchor.setAttribute('data-modal-id', '#add-to-cart');
    addToCartAnchor.textContent = 'Add to Cart';

    addToCartDiv.appendChild(addToCartAnchor);

    productDiv.appendChild(thumbDiv);
    productDiv.appendChild(addToCartDiv);

    var contentDiv = document.createElement('div');
    contentDiv.classList.add('product-m__content');

    var categoryDiv = document.createElement('div');
    categoryDiv.classList.add('product-m__category');

    var categoryLink = document.createElement('a');
    categoryLink.href = 'shop-side-version-2.html';
    categoryLink.textContent = product.category.name;

    categoryDiv.appendChild(categoryLink);

    var nameDiv = document.createElement('div');
    nameDiv.classList.add('product-m__name');

    var nameLink = document.createElement('a');
    nameLink.href = 'product-detail.html';
    nameLink.id = 'productName' + product._id;
    nameLink.textContent = product.title;

    nameDiv.appendChild(nameLink);

    var priceDiv = document.createElement('div');
    priceDiv.classList.add('product-m__price');
    priceDiv.id = 'productPrice' + product._id;
    priceDiv.textContent = '₹' + product.price;

    var hoverDiv = document.createElement('div');
    hoverDiv.classList.add('product-m__hover');

    var descriptionDiv = document.createElement('div');
    descriptionDiv.classList.add('product-m__preview-description');

    var descriptionSpan = document.createElement('span');
    descriptionSpan.textContent = product.description;

    descriptionDiv.appendChild(descriptionSpan);

    var wishlistDiv = document.createElement('div');
    wishlistDiv.classList.add('product-m__wishlist');

    var wishlistLink = document.createElement('a');
    wishlistLink.classList.add('far', 'fa-heart');
    wishlistLink.href = '#';
    wishlistLink.setAttribute('data-tooltip', 'tooltip');
    wishlistLink.setAttribute('data-placement', 'top');
    wishlistLink.setAttribute('title', 'Add to Wishlist');

    wishlistDiv.appendChild(wishlistLink);

    hoverDiv.appendChild(descriptionDiv);
    hoverDiv.appendChild(wishlistDiv);

    contentDiv.appendChild(categoryDiv);
    contentDiv.appendChild(nameDiv);
    contentDiv.appendChild(priceDiv);
    contentDiv.appendChild(hoverDiv);

    productDiv.appendChild(contentDiv);
    colDiv.appendChild(productDiv);
    rowDiv.appendChild(colDiv);
  });
  }
</script>


{{!-- function to filter products --}}
<script>
  let category = 'all';
  let price = null;
  let sort = null;
  function filter(cat,prs,srt){
 const csrfToken = $('input[name="_csrf"]').val();
    category = cat ? cat: category
    price = prs  ? prs: price
    sort = srt ? srt: sort

    $.ajax({
      url: '/filterMethodUrl',
      method: 'POST',
      data: {
        category:category,
        price:price,
        sort:sort
      },
      headers:{
        'X-CSRF-Token':csrfToken,
        },
      success: (res)=>{
        console.log(res.filterProducts);
        updateUI(res.filterProducts);
      }
    })
  }
</script>

