<main>
  {{>user-header-navbar}}
    {{>components/home/header-banner}}
    {{>components/home/first_section}}
    {{>components/home/second_section}}
    {{>components/home/third_section}}
    {{>components/home/fourth_section}}
    {{>components/common/footer}}
    {{>components/common/quicklook}}
    {{>components/common/cartModal}} 
</main>


