<main>
<section class="bg-gray-50 flex items-center justify-center">
    {{!-- {{! login container }} --}}
    <div class="bg-gray-100 flex rounded-2xl shadow-lg max-w-5xl p-5 items-center">
      {{! form }}
      <div class="md:w-1/2 px-16">
      <h5 class="font-bold text-2xl text-green-600 text-center">PLANTSO</h5>
      <h2 class="font-thin text-2xl text-green-500">Reset Password</h2>
      <p class="text-sm mt-4 text-blue-950">Enter your new Password!</p>
      {{#if errorMessage}}
            <h5 class="text-red-600 font-semibold" id="error-message">{{errorMessage}}</h5>
      {{/if}}
        <h5 class="text-red-600 font-semibold" id="errorMessage"></h5>
      <form action="/new-password" 
        method="POST"
        class="flex flex-col gap-4 mt-4">
        <input type="hidden" name="userId" value="{{userId}}">
        <input type="hidden" name="passwordToken" value="{{passwordToken}}">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
         <div id="password-field" class="flex flex-col gap-2">
                <label for="password" class="font-semibold text-xs">Enter New Password</label>
              <div class="relative">
                <input class="p-2 rounded-xl border w-full focus:outline-none focus:ring focus:border-blue-500" 
                type="password" name="password" id="password" 
                placeholder="Please enter new password" oninput="validatePassword()">
                  <svg  width="16" height="16" fill="gray" class="bi bi-eye-fill absolute top-2 right-2 cursor-pointer" viewBox="0 0 16 16" id="show-password">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                  </svg>
                  <svg width="16" height="16" fill="gray" class="bi bi-eye-slash-fill absolute top-2 right-2 cursor-pointer hidden" viewBox="0 0 16 16" id="hide-password">
                      <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                      <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
                  </svg>
                  <span id="passwordError" class="text-sm text-red-500"></span>
              </div>
            </div>
        <button class="bg-blue-950 rounded-xl text-white py-2 hover:scale-105 duration-300 hover:bg-green-400 hover:font-semibold" type="submit">Update Password</button>
      </form>
      </div>
      {{! image }}
      <div class=" md:block w-1/2 hidden">
        <img class=" rounded-lg" src="\images\img\login2.jpg" alt="login" />
      </div>
    </div>
</section>

<script src="/javascripts/signup.js"></script>
</main>